<%= render 'shared/errors', object: @post %>

<!-- well -->
<div class="well">

  <%= form_for @post do |f| %>

    <!-- control-group -->
    <div class="control-group">

      <%= f.label :title %>
      <%= f.text_field :title %>

    </div><!-- /control-group -->

    <!-- control-group -->
    <div class="control-group">

      <%= f.label :url %>
      <%= f.text_field :url %>

    </div><!-- /control-group -->

    <!-- control-group -->
    <div class="control-group">

      <%= f.label :description %>
      <%= f.text_area :description, rows: 5 %>

    </div><!-- /control-group -->

    <!-- control-group -->
    <div class="control-group">

      <%= f.label "Categories" %>
      <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>

        <%= cb.label(class: 'checkbox inline') { cb.check_box(class: 'checkbox') + cb.text } %>

      <% end %>

    </div><!-- /control-group -->

    <%= f.submit(@post.new_record? ? 'Create Post' : 'Update post', class: 'btn btn-primary') %>

  <% end %>

</div><!-- /well -->
